p {
  font-family: Arial;
}
.video-title {
  font-size: 17.5px;
  font-weight: bold;
  width: 300px;
  line-height: 24px;
  margin-bottom: 5px;
}
.video-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0;
}
.channel-name {
  font-weight: bold;
  font-size: 15px;
  color: rgb(96, 96, 96);
}
.discription {
  width: 300px;
  color: rgb(96, 96, 96);
  margin-top: 5px;
  margin-bottom: 100px;
}
.apple-text {
  margin-bottom: 50px;
  background-color: rgb(227, 65, 64);
  font-size: 14px;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 80px;
  padding-right: 80px;
}
.shop-now:hover {
  text-decoration: underline;
  color: aqua;
  cursor: pointer;
}
